<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$( document ).ready(function() {
   $(".hamburger-button").click(function(){
     $(".hamburger-button").toggleClass("active");
     $(".hamburger-menu").slideToggle();
   });
   $('.faq li .question').click(function () {
    $(this).find('.plus-minus-toggle').toggleClass('collapsed');
    $(this).parent().toggleClass('active');
  });
});

</script>
<script>

// --------------------------------------------------
  // Slider
  // --------------------------------------------------
  $('.slider').slick({
    prevArrow: '<a class="arrow-left"></a>',
    nextArrow: '<a class="arrow-right"></a>',
    slidesToShow: 3,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 640,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });

</script>
<script>

$(".open").click( function () {
var container = $(this).parents(".topic");
var answer = container.find(".answer");
var trigger = container.find(".faq-t");

answer.slideToggle(200);

if (trigger.hasClass("faq-o")) {
  trigger.removeClass("faq-o");
}
else {
  trigger.addClass("faq-o");
}

if (container.hasClass("expanded")) {
  container.removeClass("expanded");
}
else {
  container.addClass("expanded");
}
});
</script>
