<header class="grid-spaceBetween-middle mainNav" id="navigation">
  <div class="col-5 padding">
    <a href="/"><img class="logoImage" src="/images/katie_cactusheader.png" alt=""></a>
  </div>
     <nav class="col-7 textCenter navbar">
       <div class="menu">
         <ul>
           <li><a href="#about"> About </a></li>
           <li><a href="#services"> Services </a></li>
           <li><a href="#pricing"> Pricing </a></li>
           <li><a href="#faq"> FAQ </a></li>
           <li><a href="#testimonials"> Testimonials </a></li>
           <!--<li><a href="/contact"> Contact </a></li>-->
         </ul>
       </div>
     </nav>
</header>
<!--<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About </a></li>
    <li><a href="/blog">Services</a></li>
    <li><a href="/contact">Pricing</a></li>
    <li><a href="/blog">FAQ</a></li>
    <li><a href="/contact">Blog</a></li>
    <li><a href="/blog">Contact</a></li>
      <hr />
    <a class="socialIcon" href="https://www.instagram.com/justynjen/?hl=en"target="blank"><i class="fa fa-instagram " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.facebook.com/justynjen/"target="blank"><i class="fa fa-facebook-official " aria-hidden="true"></i></a>
    <a class="socialIcon" href="https://www.pinterest.com/justynjen/"target="blank"><i class="fa fa-pinterest " aria-hidden="true"></i></a>
  </ul>
</div>
</nav>
</header>-->
