
<!-- basic metadata -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width" />

<!--  Links to stylesheets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sacramento" rel="stylesheet">
<link href="/styles/styles.css" rel="stylesheet">

<!-- SEO and social metadata -->
<title>{{page.seo.title}} </title>
<meta name="description" content="{{page.seo.description}}">
<meta property="og:image" content="{{page.seo.social-image_path}}">
<meta property="og:description" content="{{page.seo.title}}">
<meta property="og:title" content="{{page.seo.title}}">

<!-- Paste google analytics code here -->
